<div class="container mx-auto mt-16">
    <h1>Register User</h1>
    <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()" class="grid gap-2 mt-4">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="username">
          </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password">
          <div *ngIf="userRegistrationForm.hasError('passwordMismatch')" class="text-sm text-red-500">Passwords do not match</div>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="userRegistrationForm.invalid">Register</button>
      </form>
</div>